#navigation {
	width: 100%;
	background-color: black;
}
#icon {
	width: 5%;
}
#logo {
	width: 25%;
	}
#searchbar {
	padding: 1%;
	text-align: right;
}
#searchbutton {
	width: 2%;
	text-align: left;
}
#map {
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: left;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background: white;
	margin:0px; 
	padding:0px;
}
.openform {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.popupform {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
h2 {
	color: white;
}
#filltitle{
	color: white;
}
.formbox {
  max-width: 300px;
  padding: 10px;
  background-color: black;
}
.formbox input[type=text], .formbox input[type=Description] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.formbox input[type=text]:focus, .formbox input[type=Description]:focus {
  background-color: #ddd;
  outline: none;
}
.formbox .btn {
  background-color: |FFFACD;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.formbox .cancel {
  background-color: #ff6961;
}
.formbox .btn:hover, .openform:hover {
  opacity: 1;
}