<!DOCTYPE html>

<html>
  <head> 
      
    <style>
      #map {
        height: 100vh;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var map;
        var array = <%- JSON.stringify(fountains) %>;
        var lat = <%= fountains[0].lat %>;
        var lng = <%= fountains[0].lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: center
        });
        var infoWindow = new google.maps.InfoWindow;

        var pos = {
          lat: 45.4954,
          lng: -73.5792
        };

        infoWindow.setPosition(pos);
        infoWindow.setContent('Location found.');
        infoWindow.open(map);
        map.setCenter(pos);
        
        var marker, i;

      	for (i = 0; i < array.length; i++) {
      		marker = new google.maps.Marker({
      			position: new google.maps.LatLng(array[i].lat, array[i].lng),
      			map: map
      		});
      
      		google.maps.event.addListener(marker, 'click', (function (marker, i) {
      			return function () {
      			  var contentString = "<strong>" + array[i].location + "</strong><p>" + array[i].description + "</p>";
      				infoWindow.setContent(contentString);
      				infoWindow.open(map, marker);
      			}
      		})(marker, i));
      	}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRbwquTPVaovtmiTFmYdedetxliONKD5Q&callback=initMap">
    </script>
  </body>
</html>