<!DOCTYPE html>

<html>
  <head> 
      
    <style>
      #map {
        height: 100vh;
        width: 100%;
       }
    </style>
  </head>
  <body>
      
    <div id="map"></div>
    <script>
     var fountainArray = [];
     var counter = 0;
     fountains.forEach(function(fountain) { 
      tempList = [fountain.location, fountain.description, fountain.lat, fountain.lng, counter++]; 
      fountainArray.push(tempList);
     });
        
      function initMap() {
        var lat = <%= fountains[0].lat %>;
        var lng = <%= fountains[0].lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
          infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Your Location');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
          
      }
        var marker, i;

	for (i = 0; i < fountainArray.length; i++) {
         var contentString = `
          <strong><%= fountainArray[i][0] %></strong>
          <p><%= fountainArray[i][1] %></p>
        `;
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(fountainArray[i][2], fountainArray[i][3]),
			map: map
		});

		google.maps.event.addListener(marker, 'click', (function (marker, i) {
			return function () {
				infowindow.setContent(contentString);
				infowindow.open(map, marker);
			}
		})(marker, i));
	}
        
        
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRbwquTPVaovtmiTFmYdedetxliONKD5Q&callback=initMap">
    </script>
  </body>
</html>